h1,h2,h3 {
  color:green;
  font-family: Arial;
}
span{
  color:grey;
  font-family: Times;
}
.a{
  color :blue;
  font-family: Helvetica;
  text-align: center;
    vertical-align: middle;
}
.b{
  color :yellow;
  font-family: Verdana;
}
.c{
  color :red;
  font-family: Georgia;
  text-align: right;
}
#second{
  color : blue;
  font-family:Arial  ;
}
#third{
  color : white;
  font-family: Helvetica;
}
body{
  background-color: grey;
}
